article{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

}
h2{
margin-top: 3vh;
}
body{
    height: auto;
}
.box{
    margin: 5vh;
    height:45vh;
    width:45vh;
    font-family:Helvetica;
    
    /* color:#f5e9d1ff; */
    border: 5px solid #DFCC91;
    border-radius: 5%;
    background:#f5e9d1ff;
    padding:30px 0px;
  }

  .box input{
    display:block;
    width:30vh;
    margin:8% auto;
    padding:15px;
    background:#FFFFFF;
    border-radius: 5vw;
    border:#D9D9D9 1px solid;
    color:#000000;
    border:0;
  }
  .box input:focus,.box input:active,.box button:focus,.box button:active{
    outline:none;
  }
  .box button{
    background:#360022;
    border:0;
    color:#f5e9d1ff;
    padding:1vh;
    font-size:20px;
    width:30vh;
    margin:2vh auto;
    display:block;
    cursor:pointer;
  }
  .box button:active{
color: #360022;
border: #360022 1px solid;
    background:#f5e9d1ff;
  }
  .box p{
    font-size:3vh;
    text-align:center;
    color: #360022;
  }
  .box p a{
    cursor:pointer;
    font-size:3vh;

    text-decoration:underline;
  }
  #value{
    padding-bottom:30px;

  }
  iframe{
    width: 90%;
    margin-bottom: 5vh;
  }
  #contacto{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
  }
  #contacto a{
   
   text-align: center;
    font-size: 20px;
  }
  #contacto div{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    width: 33%;
height: 33%;
    justify-items: center;
  }
  #contacto div img{
    width: 100px;
    height: auto;
  }

  #contacto a span {
    display: flex;
    flex-direction: column;
    color:#666;
    font-family:sans-serif;
    bottom:0;
    left:-25px;
    right:-25px;
    padding:5px 7px;
    z-index:-1;
    font-size:14px;
    border-radius:2px;
    background:#fff;
    visibility:hidden;
    opacity:0;
    -o-transition:all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  /* pop-up text arrow */
  
  #contacto a span:before {
    content:'';
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    position:absolute;
    bottom:-5px;
    left:40px;
  }
  
  /* text pops up when icon is in hover state */
  
  #contacto a:hover span {
    bottom:50px;
    visibility:visible;
    opacity:1;
  }
  
 #pop{
  visibility: hidden;
  position: fixed;
  width: 80%;
  height: 80%;
  top: 50%; /* Coloca el div a la mitad de la altura de la pantalla */
            left: 50%; /* Coloca el div a la mitad de la anchura de la pantalla */
            transform: translate(-50%, -50%); /* Ajusta el div para que su centro esté en el punto (50%, 50%) */
            padding: 20px;
            background-color: #ffffff; /* Color de fondo del div */
            border: 1px solid #ccc; /* Borde del div */
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra del div */
            z-index: 1000; 
            border: 5px solid #DFCC91;
            border-radius: 5%;
            background:#f5e9d1ff;
 }
 table {
  margin-top: 10%;
  width: 100%; /* La tabla ocupa el 100% del ancho del div */
  height: 90%; /* La tabla ocupa el 100% de la altura del div */
  border-collapse: collapse; /* Colapsa los bordes de la tabla */
}

th, td {
  border: 1px solid #ddd; /* Borde de las celdas */
  padding: 8px; /* Espacio interno de las celdas */
  text-align: center; /* Alineación del texto en el centro */
}

th {
  background-color: #f2f2f2; /* Color de fondo de los encabezados */
}
.close-button {
  position: absolute; /* Posicionamiento absoluto para colocar la X */
  top: 10px; /* Distancia desde la parte superior */
  right: 10px; /* Distancia desde la derecha */
  cursor: pointer; /* Cambia el cursor al pasar sobre la X */
  font-size: 30px; /* Tamaño de la fuente */
  color: #360022; /* Color de la X */
}