*{
    padding: 0%;
    margin: 0%; 

}
html, body{
    height:100%;
   width: 100%;
  }
body{
    background-color: #f5e9d1ff;
    width: 100%;
    height: 130%;
}
header{
    background-color:#360022;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
}
#logoText img{
    width:  60%;
   height: 20%;
   margin-left: 2%;
}
nav img {
    width: 50px;
    height: 50px;
}
#logoText{
    width: 80%;
}

a{
    color: #360022;
}
.navImgA {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navLinks a{
margin: 10px;
text-decoration:underline 1px #DFCC91;
}
#log{
width: 100%;
display: flex;
justify-content: space-between;
}
#log a{
    background-color: #a98b4aff;
    border-radius: 4px;
    margin: 10%;
 padding: 4%;
    
}

article{
height: 80%;
}

#logoCasa{
    width: 8%;
    height: auto;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#360022;
    height: 15%;
}









/* PRUEBAS PARA NAV */

/* Important styles */
#toggle {
    display: block;
    width: 28px;
    height: 30px;
    margin: 30px auto 10px;
  }
  
  #toggle span:after,
  #toggle span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px;
  }
  #toggle span:after{
    top: 9px;
  }
  #toggle span {
    position: relative;
    display: block;
  }
  /*el stilo de las 3 lineas  */
  #toggle span,
  #toggle span:after,
  #toggle span:before {
    width: 100%;
    height: 5px;
    background-color: #DFCC91;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px;
  }
  
  /* on activation la animacion de forma de x */
  #toggle.on span {
    background-color: transparent;
  }
  #toggle.on span:before {
    transform: rotate(45deg) translate(5px, 5px);
  }
  #toggle.on span:after {
    transform: rotate(-45deg) translate(7px, -8px);
  }
 

  /* diseño para el menu  */
  #menu {
  position:absolute;
  width: 100%;
  height: 110%;
  background: #f5e9d1ff;
  box-shadow: 0 1px 8px rgba(0,0,0,0.05);
  /* just for this demo */
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s;
 
}





