*{
    padding: 0%;
    margin: 0%; 
}
html, body{
    height:100%;
   width: 100%;
  }
body{
    background-color: #f5e9d1ff;
    width: 100%;
    height: 100%;
}
header{
    background-color:#360022;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 15%;
}
#logoText img{
    width:  60%;
   height: 20%;
   margin-left: 2%;
}
#logoText{
    width: 50%;
}
nav{
    height: 100%;
    align-items: center;
     display: flex;
     padding-right: 1%;
      justify-content:space-between;
     /* align-items: center; */ 
    width: 50%; 
   
}
a{
    text-decoration:none;
    color: #f5e9d1ff;
    font-size: 120%;
}
#navLinks{
  width: 60%;
  display: flex;
  justify-content: space-around;
}
#navLinks a{
padding: 1%;
text-decoration:underline 1px #f5e9d1ff;
}
#log{
    width: 40%;
display: flex;
justify-content: center;
}
#log a{
    background-color: #a98b4aff;
    border-radius: 4px;
    margin: 10%;
 padding: 4%;
    
}

article{
height: 70%;



}
#sliderDiv{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    height: 40%;
    margin: 1%;
}
#slider{
   border: solid 5px #a98b4aff;
    width: 50%;
    height: 40%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}
#contenidoDiv{
  display: block;
    height: 60%;
}
#contenidoDiv h2{
    display: flex;
    justify-content: center;
  align-items:center ;
}
#botones{
    display: flex;
    justify-content: space-around;
}
#logoCasa{
    width: 8%;
    height: auto;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#360022;
    height: 15%;
}