body{
    height: auto;
}
h3{
    
}
article {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    height: auto;
  }
  h1{
    text-align: center;
  }
.plato {
    justify-content: center;
    display: flex;
    margin: 3%;
    border: 5px solid #DFCC91;
    border-radius: 3vh;
   flex-direction: column;
   padding: 3vh;
}
.plato h2{
    /* text-align: center; */
    margin-bottom: 3vh;
}
.plato img{
    width: 50%;
    border-radius: 1vh;
    margin-bottom: 2vh;
}
.precio{
    margin-top: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.precio button{
    padding: 2vh;
    background:#360022;
    border:0;
    color:#f5e9d1ff;
    font-size:20px;
    display:block;
    cursor:pointer;
    border-radius: 4vh;
}